<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Gab</h1>
    <div class="new-gab">
      <form class="" action="/gab" method="post">
        <textarea maxlength="140" name="message" rows="8" cols="80"></textarea>
        <input type="submit" name="" value="Submit">
      </form>
    </div>
    <div class="">
      {{message}}
    </div>
  </body>
</html>
