<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <header>
      <a href="/gab">create new gab</a>
      <h4>you are logged in as {{name}}</h4>
      <form class="log-out" action="/logout" method="post">
        <input type="submit" name="" value="logout">
      </form>
    </header>
    <h1>Hello!</h1>
    <section>
      {{#model}}
        <div class="gabs">
          <p>{{users.username}}: {{message}}</p>
          {{#UserLikes.length}}
          <a href="/likes/{{id}}">Likes: {{.}}</a>
          {{/UserLikes.length}}
          {{^UserLikes.length}}
          <a href="/likes/{{id}}">No Likes Yet</a>
          {{/UserLikes.length}}
          <form class="" action="/like/{{id}}" method="post">
            <input type="hidden" name="like_id" value="{{id}}">
            <input type="submit" name="" value="Like">
          </form>
          {{#showDeleteIfOwner}}
          {{loggedInUser}}
          {{/showDeleteIfOwner}}
        </div>
      {{/model}}
    </section>
  </body>
</html>
