<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Likes</title>
  </head>
  <body>
    <h1>Likes</h1>
    <ul>
      {{#model}}
        <li>{{user_id}}</li>
      {{/model}}
    </ul>
  </body>
</html>
