<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Likes</title>
  </head>
  <body>
    <h1>likes</h1>
    <div class="gab">
      {{#model}}
      <h3>{{users.username}}: {{message}}</h3>
      <p>{{createdAt}}</p>
      <p>Liked By:</p>
      {{/model}}
      {{#likes}}
      <ul>
        <li>{{.}}</li>
      </ul>
      {{/likes}}
      {{^likes}}
      <p>No likes yet</p>
      {{/likes}}

  </body>
</html>
